---
---
<!DOCTYPE html>
<html lang="en">

{% include header.html %} 

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    {% include navbar.html %}

    <!-- Intro Header -->
    {% include intro-header.html %}

    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Me</h2>

                <div class="photo-round larger">
                    <img alt="Scotty Jacobson" class="js-avatar-img" itemprop="image" src="./img/headshot.jpeg">
                </div>

                <p class="quote">
                    "Living at the intersection of music and technology...
                    <br>
                    It doesn't always look pretty, but the soundtrack keeps me going"
                </p>

                <p>
                    Though I didn't know it at the time, I began programming when I was 12, copying and pasting snippets of ActionScript toghether to make flash games. 
                    I rediscovered programming as a freshman in Tufts' intro CS class, where I realized that programming is best executed as an art form, where creativity and instinct came to replace copying and pasting.
                    Four years later, I've graduated with a degree in Computer Science with a minor in Music Engineering. 
                </p>
                
                <p>
                    I love solving programs anywhere in the development stack, with an affinity for working on the backend of web stacks. 
                    There's something about the immediacy and scale of the web that draws me - it feels like this is the first time in history that there's this potential to conceive of something and release it to thousands of people in a matter of hours.
                </p>

                <p>
                    Professionally, I helped work on <a href="http://www.izotope.com/iris">iZotope's Iris 2</a> (look for me in the <a href="https://youtu.be/ceY_crXdTJU">promo video!</a>) as part of my internship at iZotope in 2014. 
                    Recently, I've worked on a few closed-source projects and websites for clients as a freelance developer. 
                    You can see some <a class="page-scroll" href="#projects">projects</a> I've worked on below, or see code that I've open-sourced at my <a href="http://github.com/ScottyMJacobson">GitHub</a>. 
                    For a fancily-formatted summary, you can download my resume <a class="page-scroll "href="#resume">here.</a>
                </p>

                <p>
                    Alongside coding, I love to make music - from my days in a high school band playing festivals to most recently <a href="http://www.billboard.com/articles/columns/pop-shop/6128767/episode-featuring-stefan-weiner-hold-on-song-premiere-stream">releasing music independently</a>, music has always played the role of creative release in my life. 
                    From time to time, as with my work at iZotope, I'm fortunate enough to have the two worlds collide. 
                </p>

            </div>
        </div>
    </section>

    <!-- Projects Section -->
    <section id="projects" class="content-section text-center">
        <div class="projects-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Projects</h2>
                </div>

                {% include projects-carousel.html %}

            </div>
            


        </div>
    </section>

    <!-- Resume Section -->

    <section id="resume" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Resume</h2>

                <h6>(Click to Download)</h6>

                <div class="resume">
                    <a href="./img/resume.pdf" alt="download-resume"><img alt="Scotty Jacobson Resume" class="resume-preview" itemprop="image" src="./img/resume-preview.png"></a>
                </div>

                
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Contact Me</h2>
                <p>Feel free to email/tweet/message me with projects, career opportunities, or complaints about my website.</p>
                <p><a class="email-hiding" href="mailto:{{myemailaddress}}@gmail.com"><span class="email-hiding">{{myemailaddress}}</span>@gmail.com</a>
                </p>
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="https://angel.co/ScottyMJacobson" class="btn btn-default btn-lg"><i class="fa fa-angellist fa-fw"></i> <span class="network-name">AngelList</span></a>
                    </li>                    
                    <li>
                        <a href="https://github.com/ScottyMJacobson" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                    </li>                    
                    <li>
                        <a href="https://linkedin.com/in/ScottyMJacobson" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">LinkedIn</span></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/ScottyMJacobson" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                    </li>


                </ul>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer>
        
    </footer>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/scottymjacobson.js"></script>

</body>

</html>
